---
interface Props {
	route: string;
}

const { route } = Astro.props;

import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const panelUrl = "https://panel.pterodactyl.me";
const phpmyadminUrl = "https://phpmyadmin.pterodactyl.me";
---

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href={translatePath("/client")} class="brand-link">
        <img src="/favicon.webp" alt="{{ config('app.company_name') }} Logo" class="brand-image" />
        <span class="brand-text font-weight-light">Company Name</span>
    </a>
    <div class="sidebar">
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" />
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2" id="sidebar-menu">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href={translatePath("/client")} class={`nav-link ${route === "client.dash" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={translatePath("/client/servers")} class={`nav-link ${route === "client.servers.index" ? "active" : ""}`}>
                        <i class="fas fa-server nav-icon"></i>
                        <p>My Servers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={panelUrl} class="nav-link" target="_blank">
                        <i class="fas fa-columns nav-icon"></i>
                        <p>Pterodactyl Panel</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={phpmyadminUrl} class="nav-link" target="_blank">
                        <i class="fas fa-tools nav-icon"></i>
                        <p>phpMyAdmin</p>
                    </a>
                </li>
                <li class="nav-header">ACTIVE SERVERS</li>
                <!-- Start of Servers -->
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="fas fa-server nav-icon"></i>
                        <p>Server Name 1<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href={translatePath(`/client/servers/1`)} class="nav-link">
                                <i class="fas fa-info-circle nav-icon"></i>
                                <p>Server Info</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href={translatePath(`/client/servers/1/plan`)} class="nav-link">
                                <i class="fas fa-scroll nav-icon"></i>
                                <p>Manage Plan</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="fas fa-server nav-icon"></i>
                        <p>Server Name 2<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href={translatePath(`/client/servers/2`)} class="nav-link">
                                <i class="fas fa-info-circle nav-icon"></i>
                                <p>Server Info</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href={translatePath(`/client/servers/2/plan`)} class="nav-link">
                                <i class="fas fa-scroll nav-icon"></i>
                                <p>Manage Plan</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End of Servers -->
                <li class="nav-header">BILLING</li>
                <li class="nav-item">
                    <a href={translatePath("/client/invoices")} class={`nav-link ${route === "client.invoices.index" ? "active" : ""}`}>
                        <i class="nav-icon fas fa-file-invoice-dollar"></i>
                        <p>Invoices</p>
                    </a>
                </li>
                <li class="nav-header">SUPPORT CENTER</li>
                <li class="nav-item">
                    <a href={translatePath("/client/tickets")} class={`nav-link ${route === "client.tickets.index" ? "active" : ""}`}>
                        <i class="fas fa-ticket-alt nav-icon"></i>
                        <p>Support Tickets</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={translatePath("/kb")} class="nav-link">
                        <i class="fas fa-book nav-icon"></i>
                        <p>Knowledge Base</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={translatePath("/status")} class="nav-link">
                        <i class="fas fa-network-wired nav-icon"></i>
                        <p>System Status</p>
                    </a>
                </li>
                <li class="nav-header">ACCOUNT</li>
                <li class="nav-item">
                    <a href={translatePath("/client/affiliate")} class={`nav-link ${route === "client.affiliate" ? "active" : ""}`}>
                        <i class="fas fa-user-friends nav-icon"></i>
                        <p>Affiliate Program</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={translatePath("/client/credits")} class={`nav-link ${route === "client.credits" ? "active" : ""}`}>
                        <i class="fas fa-money-bill-wave nav-icon"></i>
                        <p>Account Credit</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href={translatePath("/client/settings")} class={`nav-link ${route === "client.settings" ? "active" : ""}`}>
                        <i class="fas fa-cog nav-icon"></i>
                        <p>Account Settings</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
