<noscript>
    <div class="alert alert-danger">
        <h5><i class="icon fas fa-exclamation-triangle"></i> Your browser has disabled JavaScript!</h5>
        Please enable JavaScript so that we can enhance your browsing experience.
    </div>
</noscript>
