<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title m-0">Purchased Plan</h5>
            </div>
            <div class="card-body">
                <h6 class="card-title">
                    Plan: Plan 1<br />
                    Server Name: Server Name 1
                </h6>
                <p class="card-text">
                    <ul class="list-unstyled">
                        <li>RAM <span class="float-right">1024 MB</span></li>
                        <li>CPU <span class="float-right">100 %</span></li>
                        <li>Disk <span class="float-right">2048 MB</span></li>
                        <li>Databases <span class="float-right">0</span></li>
                        <li>Backups <span class="float-right">0</span></li>
                        <li>Extra Ports <span class="float-right">0</span></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
