<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Unpaid Invoices</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Item</th>
                            <th>Item Name</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Invoice Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{{ route('client.invoice.show', ['id' => $invoice->id]) }}">1</a></td>
                            <td> Credits </td>
                            <td> </td>
                            <td>$0 USD</td>
                            <td>Paypal</td>
                            <td>01/01/2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Paid Invoices</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Item</th>
                            <th>Item Name</th>
                            <th>Amount</th>
                            <th>Payment Method</th>
                            <th>Invoice Date</th>
                            <th>Paid Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{{ route('client.invoice.show', ['id' => $invoice->id]) }}">2</a></td>
                            <td> Plan 1 </td>
                            <td> Server Name 1 </td>
                            <td>$0 USD</td>
                            <td>Paypal</td>
                            <td>01/01/2022</td>
                            <td>01/01/2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
