---
import MainHeader from "@/components/header/Header.astro";
import StoreHeader from "@/components/header/store/Header.astro";

import MainScripts from "@/components/scripts/Scripts.astro";

import Modals from "@/components/modals/Modals.astro";

import NavStore from "@/components/nav/store/Nav.astro";

import FooterStore from "@/components/footer/store/Footer.astro";

import Alerts from "@/components/alerts/index.astro";

import Messages from "@/components/messages/index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

import { settings } from "@/database/index";

const logoPath = await settings.findOneBy({ key: "logo_path" }).then((setting) => setting?.value);
const companyName = await settings
  .findOneBy({ key: "company_name" })
  .then((setting) => setting?.value);
---

<!doctype html>
<html lang="en">
    <MainHeader title={title} />
    <body class="hold-transition layout-top-nav dark-mode">
        <MainScripts />
        <div class="wrapper">
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src={logoPath} alt={`${companyName} Logo`} height="100" width="100" />
            </div>
            <NavStore />
            <div class="content-wrapper">
                <div class="content">
                    <StoreHeader title={title} />
                    <div class="container" id="content-container">
                        <Alerts />
                        <Messages />
                        <slot />
                    </div>
                    <Modals />
                </div>
            </div>
            <FooterStore />
        </div>
    </body>
</html>
