---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp+xml" href="/favicon.webp" />
    <title>{title}</title>
    <link rel="stylesheet" href="/css/adminlte.min.css" />
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
</head>
