<div class="row">
    <!-- if category id is set, show category name -->
    <div class="col-lg-12">
        <div class="callout callout-info">
            <h5>You are viewing the server plans of Programming.</h5>
        </div>
    </div>
    <!-- end if category id is set -->
    <div class="col-lg-3 col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title m-0">Bun</h5>
            </div>
            <div class="card-body">
                <h6 class="card-title">$1.00 USD / Month</h6>
                <!-- if trial length is set, show trial length -->
                <br /><h6 class="card-title">10 Days - Free Trial</h6>
                <!-- end if trial length is set -->
                <p class="card-text">
                    <!-- <small>Only 3 availables!</small><br> -->
                    <!-- <small>Only 1 available!</small><br /> -->
                    <small>0 availables</small><br />
                    <small>Bun server</small>
                    <ul class="list-unstyled">
                        <li>RAM <span class="float-right">1024 MB</span></li>
                        <li>CPU <span class="float-right">100%</span></li>
                        <li>Disk <span class="float-right">2048 MB</span></li>
                        <li>Databases <span class="float-right">0</span></li>
                        <li>Backups <span class="float-right">0</span></li>
                        <li>Extra Ports <span class="float-right">0</span></li>
                    </ul>
                </p>
                <!-- <a href="{{ route('order', ['id' => $plan->id]) }}" class="btn btn-primary col-12">Order <i class="fas fa-arrow-circle-right"></i></a> -->
                <a href="#" class="btn btn-primary col-12 disabled">Order <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
