---
import { settings } from "@/database/index";

const companyName = await settings
  .findOneBy({ key: "company_name" })
  .then((setting) => setting?.value);
---

<footer class="main-footer">
    <strong
        >Copyright &copy; {new Date().getFullYear()}
        <a href="/">{companyName}</a>. All Rights Reserved. Powered by <a href="https://docs.hedystia.com" translate="no">Hedystia</a>.</strong
    >
    <div class="float-right d-none d-sm-inline-block">
        <a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a>
    </div>
</footer>
